@{
    ViewBag.Title = "User Home Page";
}


<div class="container">
    <h1 class="text-center m-4">Hello @ViewBag.FullName</h1>
    <a class="btn btn-outline-dark" asp-controller="User" asp-action="Edit">Update Profile</a>
    <a class="btn btn-outline-dark" asp-controller="Expense" asp-action="Index">View All Expenses</a>
</div>